wf_insert_qdrant.json
{
  "name": "Form → SplitOut → NormalizeBinary → OCR → Qdrant → Summary",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload PDFs",
        "formFields": {
          "values": [
            {
              "fieldLabel": "PDF files",
              "fieldType": "file",
              "multipleFiles": true,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Upload",
          "path": "upload-pdfs"
        }
      },
      "id": "form-trigger-1",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [-1180, 0]
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "include": "noOtherFields"
      },
      "id": "split-out-1",
      "name": "Split Out ($binary)",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Приводим ключ бинаря к 'data' (из file_0/file_1/...)\nconst b = item.binary || {};\nconst keys = Object.keys(b);\nif (keys.length) {\n  const first = keys[0];\n  // Копируем метаданные файла, сохраняем оригинальное имя\n  item.binary = { data: { ...b[first] } };\n}\nreturn item;"
      },
      "id": "fix-binary-name-1",
      "name": "Normalize Binary → data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://example.com/ocr",
        "sendBody": true,
        "contentType": "formData",
        "options": {
          "response": { "responseFormat": "json" },
          "batching": { "batchSize": 1, "batchInterval": 250 }
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "file",
              "value": "",
              "type": "formBinary",
              "inputDataFieldName": "data"
            }
          ]
        }
      },
      "id": "ocr-http-1",
      "name": "OCR (multipart, binary: data)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [-420, 0],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Нормализуем ответ OCR → json.ocr_text + имя файла\nconst bin = item.binary?.data;\nconst name = bin?.fileName || 'file.pdf';\n// Популярные варианты полей текста в OCR API\nconst o = item.json || {};\nconst text = o.text ?? o.ocr_text ?? o.data?.text ?? '';\nitem.json = { file_name: name, ocr_text: String(text) };\nreturn item;"
      },
      "id": "code-normalize-ocr",
      "name": "Normalize OCR text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-190, 0]
    },
    {
      "parameters": {
        "operationMode": "insertDocuments",
        "qdrantCollectionName": "QDRANT_COLLECTION",
        "subNodes": {
          "documentLoader": {
            "type": "n8n-nodes-langchain.documentDefaultDataLoader",
            "parameters": {
              "textSplitting": "custom",
              "typeOfData": "json",
              "mode": "loadSpecificData",
              "data": "={{ $json.ocr_text }}",
              "metadata": "={{ { file_name: $json.file_name } }}"
            },
            "subNodes": {
              "textSplitter": {
                "type": "n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
                "parameters": { "chunkSize": 1000, "chunkOverlap": 200 }
              }
            }
          },
          "embeddings": {
            "type": "n8n-nodes-langchain.embeddingsOpenAI",
            "parameters": { "model": "text-embedding-3-small" }
          }
        }
      },
      "id": "qdrant-insert-1",
      "name": "Qdrant Vector Store (Insert Documents)",
      "type": "n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [90, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Итоговая сводка по всем items\nconst items = $input.all();\nconst rows = items.map((it, i) => ({\n  name: it.json?.file_name || `file_${i+1}.pdf`,\n  ok: !(it.json?.error || it.json?.message?.includes('error'))\n}));\nconst total = rows.length;\nconst succeeded = rows.filter(r => r.ok).length;\nconst failed = total - succeeded;\nconst list = rows.map(r => `<li>${r.ok ? '✅' : '❌'} ${r.name}</li>`).join('');\nconst html = `<h2>Готово</h2><p>Обработано: <b>${total}</b>. Успешно: <b>${succeeded}</b>, Ошибок: <b>${failed}</b>.</p><ul>${list}</ul>`;\nreturn [{ json: { total, succeeded, failed, summary_html: html } }];"
      },
      "id": "code-summary-1",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 0]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ $json.summary_html }}",
        "options": {
          "completionPageTitle": "Upload Result",
          "formTitle": "Upload completed"
        }
      },
      "id": "form-ending-1",
      "name": "Form Ending (Show Text)",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [640, 0]
    }
  ],
  "connections": {
    "On form submission": { "main": [[{ "node": "Split Out ($binary)", "type": "main", "index": 0 }]] },
    "Split Out ($binary)": { "main": [[{ "node": "Normalize Binary → data", "type": "main", "index": 0 }]] },
    "Normalize Binary → data": { "main": [[{ "node": "OCR (multipart, binary: data)", "type": "main", "index": 0 }]] },
    "OCR (multipart, binary: data)": { "main": [[{ "node": "Normalize OCR text", "type": "main", "index": 0 }]] },
    "Normalize OCR text": { "main": [[{ "node": "Qdrant Vector Store (Insert Documents)", "type": "main", "index": 0 }]] },
    "Qdrant Vector Store (Insert Documents)": { "main": [[{ "node": "Build Summary", "type": "main", "index": 0 }]] },
    "Build Summary": { "main": [[{ "node": "Form Ending (Show Text)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
