wf_insert_qdrant
{
  "name": "Upload PDFs → Show Summary",
  "nodes": [
    {
      "parameters": {
        "path": "upload-pdfs",
        "formTitle": "Upload PDFs",
        "formFields": {
          "values": [
            {
              "fieldLabel": "PDF files",
              "fieldType": "file",
              "multipleFiles": true,
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Upload"
        }
      },
      "id": "b0f7c8d9-5f2e-4f9d-9a77-1a2b3c4d5e6f",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -520,
        0
      ],
      "webhookId": "7b6c9c68-2a2f-4e3f-9a1c-0b0ce3d0a9e1"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const itemsAll = $input.all();\nlet names = [];\n\nfor (const it of itemsAll) {\n  // 1) Попытка взять имена из JSON-поля data (если форма отдала массив)\n  if (Array.isArray(it.json?.data)) {\n    for (const f of it.json.data) {\n      const n = f?.filename || f?.fileName || f?.name;\n      if (n) names.push(n);\n    }\n  }\n  // 2) Попытка пройти по прочим JSON-массивам и вытащить filename\n  for (const [k, v] of Object.entries(it.json || {})) {\n    if (Array.isArray(v)) {\n      for (const f of v) {\n        const n = f?.filename || f?.fileName || f?.name;\n        if (n) names.push(n);\n      }\n    }\n  }\n  // 3) Имена из бинарных полей ($binary)\n  const bin = it.binary || {};\n  for (const key of Object.keys(bin)) {\n    const n = bin[key]?.fileName || key;\n    if (n) names.push(n);\n  }\n}\n\n// Дедуп\nnames = [...new Set(names)];\n\nconst total = names.length;\nconst list = names.map(n => `<li>✅ ${n}</li>`).join('');\nconst summary = `<h2>Готово</h2><p>Получено файлов: <b>${total}</b>.</p><ul>${list}</ul>`;\n\nreturn [{ json: { total, succeeded: total, failed: 0, summary_html: summary } }];"
      },
      "id": "c4f1a2b3-8d9e-4a1b-9c2d-3e4f5a6b7c8d",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ $json.summary_html }}",
        "options": {
          "completionPageTitle": "Upload Result",
          "formTitle": "Upload completed"
        }
      },
      "id": "e7a9c1d2-3f4b-4a5c-8d9e-0a1b2c3d4e5f",
      "name": "Form Ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "webhookId": "9a8b7c6d-5e4f-4d3c-9b2a-1c0d9e8f7a6b"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Form Ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {}
}
